<template>
    <div class="section">
        <div class="columns is-centered">
            <div class="contacts-list column is-one-quarter">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img :src="realImage" :alt="contactData.name">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <input v-model="name" class="title">
                            </div>
                        </div>
                        <input v-model="phone" class="content subtitle">
                    </div>
                    <div class="card-footer">
                        <div @click="deleteContact(id)" class="card-footer-item button is-danger is-big">
                            <span class="icon">
                                <i class="fas fa-trash"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
"use strict";
module.exports = {
    data() {
        return {
            id: null,
            name: null,
            phone: null
        }
    },
    mounted() {
        this.id = this.$route.params.id;
        this.name = this.contactData.name;
        this.phone = this.contactData.phone;
    },
    computed: {
        contactData() {
            return this.$store.getters["contactsStore/getContact"](
                this.$route.params.id
            ) || {};
        },
        realImage() {
            if (this.contactData) {
                if (this.contactData.image) {
                    return this.contactData.image;
                }
            }
            return "https://i.imgur.com/tbC6hae.png";
        }
    },
    methods: {
        deleteContact(contactId) {
            this.$store.dispatch('contactsStore/deleteContact', contactId).then(() => {
                this.$router.push({name: 'list'});
            });
        },
        updateContact() {
            this.$store.dispatch('contactsStore/updateContact', {
                id: this.id,
                contact: {
                    name: this.name,
                    phone: this.phone
                }
            });
        }
    },
    watch: {
        name() {
            this.updateContact();
        },
        phone() {
            this.updateContact();
        }
    },
};
</script>

<style scoped lang="scss">
.card-footer-item {
    border-radius: 0;
}

input {
    border: 0;
    outline: none;
}
</style>
