<template>
    <div>
        <div class="section">
            <div class="columns is-centered">
                <div class="contacts-list column is-one-fifth">
                    <contact-card
                        v-for="({name, phone, image}, id) in contactsList"
                        :key="id"
                        :id="id"
                        :name="name"
                        :phone="phone"
                        :image="image"
                    ></contact-card>
                </div>
            </div>
        </div>
        <div class="section">
            <add-contact></add-contact>
        </div>
    </div>
</template>

<script>
"use strict";
const components = {
    'contact-card': require('../components/contact-card'),
    'add-contact': require('../components/add-contact')
}
const {mapState} = require('vuex');

module.exports = {
    components: components,
    computed: {
        ...mapState('contactsStore', ['contactsList'])
    }
};
</script>

<style scoped lang="scss">

</style>
