<template>
    <div>
        <modal
            v-if="showAddContactForm"
            @modal-close="showAddContactForm = false"
            @save-contact="saveContact"
        ></modal>
        <nav class="navbar is-fixed-bottom has-shadow has-background-primary">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <button
                            @click="showAddContactForm = true"
                            class="button is-white"
                        >Add contact</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
"use strict";
const components = {
    'modal': require('./modal')
}

module.exports = {
    components: components,
    data() {
        return {
            showAddContactForm: false,
        };
    },
    methods: {
        saveContact(contactData) {
            this.$store.dispatch('contactsStore/addContact', contactData).then(() => {
                this.showAddContactForm = false;
            })
        }
    }
};
</script>

<style scoped lang="scss">
.image-container {
    margin-bottom: .5em;
}

.center-cropped {
    height: 64px;
    width: 64px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
}
</style>
