<template>
    <div class="columns card">
        <router-link :to="`/contact/${id}`" class="card-content column contact-name">
            <div class="level-left">
                <div class="media-left">
                    <figure class="image">
                        <img class="contact-image is-rounded image is-32x32" :src="realImage" :alt="name">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="is-4">{{name}}</p>
                </div>
            </div>
        </router-link>
        <div @click="deleteContact(id)" class="card-content column contact-delete has-background-danger">
            <div class="level-right">
                <button class="button is-danger is-small">
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
"use strict";
module.exports = {
    props: {
        id: {
            type: Number
        },
        name: {
            type: String,
            default: "NAME"
        },
        phone: {
            type: String,
            default: "PHONE"
        },
        image: {
            type: String,
            default: null
        }
    },
    methods: {
        deleteContact(contactId) {
            this.$store.dispatch('contactsStore/deleteContact', contactId);
        }
    },
    computed: {
        realImage() {
            return this.image || 'https://i.imgur.com/tbC6hae.png';
        }
    }
};
</script>

<style scoped lang="scss">
.contact-name {
    flex: 1;
    color: unset;
}

.contact-delete {
    flex-grow: 0;
    padding: 0 0.75rem;
    & button {
        padding: 0.75rem;
    }
}
</style>
