<template>
    <div class="modal is-active">
        <div @click="$emit('modal-close')" class="modal-background"></div>
        <div class="modal-content">
            <nav class="panel">
                <p class="panel-heading">Add contact</p>
                <div class="panel-block has-background-white">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input
                                v-model="name"
                                class="input"
                                type="text"
                                placeholder="Name input"
                            >
                        </div>
                    </div>
                </div>
                <div class="panel-block has-background-white">
                    <div class="field">
                        <label class="label">Phone</label>
                        <div class="control">
                            <input
                                v-model="phone"
                                class="input"
                                type="text"
                                placeholder="Phone input"
                            >
                        </div>
                    </div>
                </div>
                <div class="panel-block has-background-white">
                    <div class="field">
                        <div class="file is-boxed">
                            <label class="label file-label">
                                <input
                                    @change="handleImageChange"
                                    class="file-input"
                                    type="file"
                                    name="resume"
                                >
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">Choose a contact image…</span>
                                </span>
                            </label>
                            <div class="image-container">
                                <figure class="center-cropped" :style="image?`background-image: url('${image}');`:''"></figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-block has-background-white">
                    <button
                        :disabled="!saveEnabled"
                        @click="$emit('save-contact', {name, phone, image})"
                        class="button is-primary"
                    >Save</button>
                    <button @click="$emit('modal-close')" class="button is-white">Cancel</button>
                </div>
            </nav>
        </div>
        <button
            @click="$emit('modal-close')"
            class="modal-close is-large"
            aria-label="close"
        ></button>
    </div>
</template>

<script>
"use strict";
module.exports = {
    data() {
        return {
            name: null,
            phone: null,
            image: null
        };
    },
    computed: {
        saveEnabled() {
            return this.name && this.phone;
        }
    },
    methods: {
        getBase64Image(img) {
            const canvas = document.createElement("canvas");
            canvas.width = img.width;
            canvas.height = img.height;

            const ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0);

            const dataURL = canvas.toDataURL("image/png");

            return dataURL;
        },
        handleImageChange(event) {
            const file = event.target.files[0];
            const fReader = new FileReader();
            const img = document.createElement('img');
            fReader.onload = () => {
                if (fReader.result.startsWith('data:image/')) {
                    this.image = fReader.result;
                } else {
                    this.image = null;
                }
            }
            fReader.readAsDataURL(file);
        },
    }
};
</script>

<style scoped lang="scss">

</style>
