<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
"use strict";
const components = {
    'list': require('./pages/list')
}
const {mapState} = require('vuex');

module.exports = {
    components: components
};
</script>

<style scoped lang="scss">

</style>
